/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--transition-duration) var(--transition-timing-function);
    
}
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    font-size: 25;
  }
  
  /* Header */
  header {
    background-image: url('bg.png');
    color: #fff;
    padding: 20px 0;
}

.navbar {
    background-image: url('bg.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 1px solid #efebe8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-size: 25;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    align-items: center; /* Menyamakan vertikal */
}

.navbar-logo img {
    width: 50px; /* Sesuaikan ukuran logo */
    margin-right: 10px; /* Berikan jarak antara logo dan teks */
}

  
  .navbar-nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-size: 20px;
  }
  
  .navbar-nav a:hover {
    color: #ddd;
  }
  
  .navbar-extra a {
    color: #fff;
    margin-left: 10px;
  }
  
  /* Content */
  .home {
    background-image: url('bg.png');
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .home .row{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap:2rem 0; 
    padding-bottom: 50px;
 }
 
 .home .row .img-container{
     flex:1 1 40rem;
     position: relative;
     
 }
 .home .row .img-container img{
    width: 300px; /* Mengatur lebar gambar */
  float: right; /* Menggeser gambar ke kanan */
  margin-left: 110px; /* Memberikan jarak antara gambar dengan teks */
  margin-right: 200px;
  margin-bottom: 50px;
    
}
 
 .home .row .content{
     flex:1 1 40rem;
 }
 
 .home .row .content h3{
     font-size: 24px;
     color: #ffffff;
     text-transform: none;
 }
 
 .home .row .content p{
     text-align: justify;
     font-size: 15px;
     color: #ffffff;
     padding: 5rem 0;
     padding-top: 1rem;
     line-height: 1.5;
     text-transform: none;
 }
 .about .heading {
  text-align: center; /* Mengatur teks "Beranda" menjadi di tengah */
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

 .about .row {
  display: flex;
  align-items: center;
}

.about .row .img-container img {
  width: 250px; /* Mengatur lebar gambar */
  float: right; /* Menggeser gambar ke kanan */
  margin-left: 110px; /* Memberikan jarak antara gambar dengan teks */
  margin-right: 200px;
  margin-bottom: 100px;
}


.about .content {
  flex: 1; /* Mengambil sisa ruang di sebelah kiri gambar */
}

.about .content h3 {
  margin-top: 0; /* Menghilangkan margin atas untuk h3 */
  text-transform: none;
  font-size: 15px;
  margin-right: 20px;
}

.about .content p {
  margin-bottom: 0; /* Menghilangkan margin bawah untuk p */
  text-transform: none;
  font-size: 15px;
  margin-right: 20px;
}

.jadwal .heading {
  background-image: url('bg.png');
  color: #fff;
  text-align: center; /* Mengatur teks "Beranda" menjadi di tengah */
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}
  .jadwal table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .jadwal th, .jadwal td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 15px;
  }
  
  .jadwal th {
    background-color: #f2f2f2;
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .daftar {
      text-align: center; /* Mengatur teks "Beranda" menjadi di tengah */
      font-size: 25px;
      margin-top: 50px;
      margin-bottom: 50px;
    
  }
  
  .daftar .btn {
    font-size: 18px;
    padding: 15px 40px;
  }
  

.contact .heading{
  background-image: url('bg.png');
  color: #fff;
  text-align: center; /* Mengatur teks "Beranda" menjadi di tengah */
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Sesuaikan lebar sesuai kebutuhan */
    margin-bottom: 20px; /* Memberikan jarak antara box dan footer */
}

.contact .box .image {
    width: 15%; /* Sesuaikan lebar gambar */
    margin-left: 200px;
}

.contact .box .image img {
    width: 100%;
    height: auto;
}


.contact .box .content {
    width: 50%; /* Sesuaikan lebar teks */
    margin-left: 50px; /* Memberikan jarak antara teks dan gambar */
}

.contact .box .content h3 {
  margin-top: 0; /* Menghilangkan margin atas untuk h3 */
  text-transform: none;
  font-size: 15px;
  text-align: left;
}

.contact .box .content p {
  margin-top: 0; /* Menghilangkan margin atas untuk h3 */
  text-transform: none;
  font-size: 12px;
  text-align: left;
}
  
  /* Footer */
  footer {
    background-image: url('bg.png');
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    pedding:20px0;
  }
  